html {
    background: #ffffff;
}
.leader_text p {
    font-size: 79%;
}
.about_history {
    order: 3;
}
.members_viewing {
    order: 1;
    height: auto;
}
.about_body, .about_tab, .about_history, * {
    overflow: visible;
}
.meet_directors {
    height: auto !important;
}
/*events*/

#event_page .row .col h1 {

    font-size: 150%;
    font-weight: 900;
    color: #000000;
    /*padding-top: 1em;*/
}
#event_page .row .col h2:nth-of-type(2) {
    display: block;
}
#event_page .row .col:last-child {
    display: none;
}