old/*
config/*
includes/dbh-inc.php
includes/mass_email-inc.php
images/*
includes/upload-inc.php
includes/upload_assignment.php
js/._docs.min.js
js/docs.min.js
js/jquery.tablesorter.min.js
js/jssor.slider.mini.js
js/mdb.min.js
member_images/*
pictures/*
practice_video/*
pspImages/*
schedules/*
*.pdf

/email-inc.php
/fathers.php
/Instruction_Videos.php
/mail_confirm.php
/mothers.php

/vendor/
