old/*
config/*

images/*


js/._docs.min.js
js/docs.min.js
js/jquery.tablesorter.min.js
js/jssor.slider.mini.js
js/mdb.min.js
member_images/*
pictures/*
practice_video/*
pspImages/*
schedules/*
*.pdf

/fathers.php

/mothers.php

/vendor/*
/testemail/*
/config_files/*
videos/*
/contact_table/
