{% extends 'layout.twig' %}
{% block body %}
    {% include 'nav.twig' %}
    <h1 class="center">Login</h1>
    <form class="container" action="{{ lastpage }}" method="POST">
        <div class="form-group" >
            <label for="exampleInputEmail1">Email address or Username</label>
            <input required type="text" class="form-control" name="username" aria-describedby="emailHelp" value="{{ email }}" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input required type="password" name="password"  class="form-control" placeholder="Password">
        </div>
        <a href="resetpassword.php">Forgot Password?</a><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}