{% extends 'layout.twig' %}

{% block body %}
    {% include 'nav.twig' %}
    <ul>
        {% for i in users %}
            <li><a href="profile.php?id={{ i.user_id }}">{{ i.user_first }} {{ i.user_last }}</a> {% if i.user_rank == 0.00%}[HIDDEN]{% endif%} </li>
        {% endfor %}
    </ul>

{% endblock %}